<div class="flex flex-col sm:flex-row rounded border-black <%= @background %>">
  <div class="w-52 h-52"><%= @picture %></div>
    <div class="flex flex-col">  
    <div
      class="font-light text-gray-900 dark:text-gray-100 tracking-wide sm:tracking-widest sm:font-extralight text-2xl sm:text-3xl antialised">
      <%= @title %>
    </div>
    <div class="flex flex-col justify-between text-gray-700 dark:text-gray-200">
      <div class="text-base lg:text-lg antialised text-lg">
        <%= @body %>
      </div>
      <%= content %>
    </div>
  </div>
</div>
