<div class="flex flex-col sm:flex-row rounded border-black <%= @background %>">
  <div class="w-52 h-52"><%= @picture %></div>
    <div class="flex flex-col">  
      <%= render HeaderComponent.new.with_content(@title) %>
      <div class="flex flex-col justify-between text-gray-700 dark:text-gray-200">
        <div class="text-base lg:text-lg antialised text-lg">
          <%= @body %>
        </div>
        <%= content %>
      </div>
  </div>
</div>
