<div class="mx-auto md:w-2/3 w-full select-none" data-controller="book">
  <%= render BookSidebarTogglerComponent.new %>
  <%= render BooksSidebarComponent.new(book: @book) %>
  <%= render MarkdownComponent.new(chapter_content: @chapter) %>
  <div class="flex justify-items-stretch justify-around items-stretch flex-auto bg-black text-white">
    <% if (0..@book.chapters_length).cover?(@chapter_number - 1) %>
      <%= render LinkComponent.new do %>
        <%= link_to "Öncesi", @book.chapter_path(@chapter_number - 1) %>
      <% end %>
    <% end %>
    <% if (0...@book.chapters_length).cover?(@chapter_number + 1) %>
      <%= render LinkComponent.new do %>
        <%= link_to "Sonrası", @book.chapter_path(@chapter_number + 1) %>
      <% end %>
    <% else %>
      <%= render LinkComponent.new do %>
        <%= link_to "Önsöz", @book.chapter_path %>
      <% end %>
    <% end %>
  </div>
</div>
