.container
  %h1= render HeaderComponent.new.with_content("#{@category}'i düzenle")
  = form_with model: @category do |form|
    .flex.justify-between
      = form.text_field :name
      = form.content :information
      = form.submit
