.w-full.container.divide-y.hover:divide-double
  %p.text-center.mb-4.antialised.font-sans.font-light
    Adım Emre. Kendi kafamca bir şeyler yazıyorum ve kafayı uzun bir süredir edebiyat ile yazılım ile bozdum. Bir tane de yazdığım bir bilimkurgu kitabım var: #{link_to "Kara Tilki Hiyerarşisi (Tıkla!)", "/karatilkihiyerarsisi", class: "decoration-solid"}. Geveze bir adam olsam da kendimi tarif ederken ne yazık ki yaratıcı olamıyorum.
  .container.flex.flex-col
    = render HeaderComponent.new.with_content "Son gönderiler"
    = render PostListComponent.new(posts: @posts, pagy: @pagy)
    = link_to "diğer güzel şeyler...", posts_path
  .container.flex.flex-col
    - @categories.each do |category|
      = render HeaderComponent.new.with_content "#{category.name} kategorisinden son gönderi"
      -# Okay, this code smells. I just looked for a easy way to saving DRY principle.
      = render PostListComponent.new(posts: category.posts.order(created_at: :desc).limit(1), pagy: @category_pagy)
