!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blog
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_pack_tag "application", media: "all", "data-turbo-track": "reload"
    = javascript_pack_tag 'application'
  %body.dark:bg-black.dark:bg-opacity-90.dark:text-gray-100
    - flash.each do |_, message|
      = render NotificationComponent.new(message)
    - categories = Category.all.filter_map { |category| link_to category.name, category unless category.name == "Hakkında" }
    = render NavbarComponent.new(list_of_links: categories) do
      = link_to "Hakkında", Category.find_by(name: "Hakkında")
    %main.container.mx-auto.mt-28.px-5.flex
      = yield
